.error {
    padding: 4rem;
    &__title {
        font-size: 3rem;
    }
    &__message {
        padding-top: 1rem;
        font-size: 1.2rem;
        text-align: center;
        &>a {
            color: var(--color-accent);
        }
    }
    @media screen and (max-width: $break-medium) {
        &__title {
            font-size: 2rem;
            text-align: center;
        }
    }
}