.information {
    &__container {
        width: 100%;
        display: flex;
        @media screen and (max-width: $break-medium) {
            display: block;
            position: relative;
        }
    }
    &__img {
        padding-right: .5rem;
        position: relative;
        &::before {
            // overlay
            content: '';
            display: block;
            width: calc( 100% - .5rem);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($color: #29ABE2, $alpha: .3);
            @media screen and (max-width: $break-medium) {
                width: 100%;
            }
        }
    }
    &__description {
        padding-left: .5rem;
        @media screen and (max-width: $break-medium) {
            position: absolute;
            background: rgba($color: #29ABE2, $alpha: .3);
            color: white;
            bottom: 0;
            left: 0;
        }
    }
    &__img,
    &__description {
        width: 50%;
        @media screen and (max-width: $break-medium) {
            width: 100%;
            padding: 0;
        }
    }
}

.about {
    &__img {
        width: 50%;
    }
    &__description {
        order: -1;
        width: 50%;
    }
    @media screen and (max-width: $break-medium) {
        &__img,
        &__description {
            width: 100%;
        }
        &__description {
            padding-top: 1rem;
        }
    }
}

.learning {
    &__img {
        width: 50%;
    }
    &__description {
        order: -1;
        width: 50%;
    }
    @media screen and (max-width: $break-medium) {
        &__img,
        &__description {
            width: 100%;
        }
        &__description {
            padding-top: 1rem;
        }
    }
}