section.section.blog
  h2.section__title#blog Blog
  .card-container
    .card
      header.card__header-img
        img(src="https://cdn-images-1.medium.com/max/800/1*vA1izTahD1j5R7nlg3zzDA.jpeg", alt="blog").card__img
      .card__body
        h2.card__title ¿Cómo comenzar a aprender algo nuevo?
        p.card__description Siempre que te llama la atención algún tema desconocido, sin importar el rubro, puedes pensar que, ...
      footer.card__footer
        a(href="https://medium.com/@xizuth/c%C3%B3mo-comenzar-a-aprender-algo-nuevo-acd591fb1a38", target="_blank").btn-card.btn leer más
    .card
      header.card__header-img
        img(src="https://cdn-images-1.medium.com/max/2000/1*iSmiBgCKNJWpVY6ZETnceg.jpeg", alt="blog").card__img
      .card__body
        h2.card__title ¿Debería comenzar a programar en Android?
        p.card__description Hoy en día en el mundo existen más de 2 millones de dispositivos con el SO Android, y eso significa que existen ...
      footer.card__footer
        a(href="#", target="_blank").btn-card.btn leer más 
    .card
      header.card__header-img
        img(src="https://cdn-images-1.medium.com/max/2000/1*wEbzDNjkOMQ2uv-iNeUxPQ.jpeg", alt="blog").card__img
      .card__body
        h2.card__title Ley de Ohms (Ohms law X)
        p.card__description En ocasiones cuando estamos desarrollando algún proyecto electrónico, ya sea usando Arduino, Raspberry pi, ...
      footer.card__footer
        a(href="#", target="_blank").btn-card.btn leer más
  .btn-container:  a(href="https://medium.com/@xizuth", target="_blank").btn.btn-block Leer más