section.section.learning
  h2.section__title#teaching Capacitación
  .learnig__container.information__container
    .information__img
      img(src="assets/imgs/teaching.png", alt="Alejandro Leyva Clase enseñando")
    .information__description
      p Amplia experiencia en la industria y docencia, en diversos niveles educativos; tanto público como privado. Impartiendo asignaturas de especialidad de carreras como ingeniería de software, sistemas computacionales, estadística administrativa y mecatrónica. Tanto de manera presencial como en línea.
  .btn-container:  a(href="capacitacion.html").btn.btn-block Ver más 
