section.section.contact
  h2.section__title#contact Contacto
  form().contact__form.form
    .form__data
      .form__inputs
        input(type="text", placeholder="Nombre", name="name", required)#name.form__input
        input(type="email", placeholder="Correo", name="email", pattern="/^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i",required)#mail.form__input
      .form__messages
        textarea(name="message", cols="20", rows="4", placeholder="Mensaje",required)#message.form__message
  footer.form__footer
    .btn-container: a(href="#")#sendMessage.btn.btn-block envíar