.header-main
  header.header
    .header__top
      a(href="").btn.btn-header.icon-menu#btn_menu
      a(href="#contact").btn-header.btn Di Hola
    .header__container
      .header__photo-container
        a(href="/"): img(src="assets/imgs/perfil.jpg", alt="Alejandro Leyva").header__img
      .header__copy
        h1.header__title: a(href="/").link-home Alejandro Leyva 
        h2.header__subtitle Diseñador & Desarrollador<br>Hardware & Software <br><br>Facilitador & Docente
  include _blocks/menu
