extends templates/template
block header
  include templates/body/header
block body 
  include templates/body/_blocks/404
block contact
  include templates/body/contact
block footer
  include templates/body/footer