*,
:root,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    overflow-x: hidden;
}

body {
    max-width: 1200px;
    overflow-x: hidden;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

$break-medium: 999px;
$break-small: 479px;
$break-contact: 615px;