.form {
    display: block;
    &__data {
        display: flex;
        @media screen and (max-width: $break-contact) {
            flex-direction: column;
        }
    }
    &__inputs,
    &__messages {
        width: 50%;
        @media screen and (max-width: $break-contact) {
            width: 100%;
        }
    }
    &__inputs {
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: $break-contact) {
            padding: 0;
        }
    }
    &__messages {
        padding-left: 1rem;
        @media screen and (max-width: $break-contact) {
            padding: 0;
        }
    }
    &__input,
    &__message {
        display: block;
        width: 100%;
        padding: .5rem;
        border-radius: 8px;
        font-size: var(--font-size-subtitle);
        border: 1px solid var(--color-accent);
        font-style: normal;
        @media screen and (max-width: $break-contact) {
            margin-bottom: 1rem;
        }
    }
    &__message {
        resize: none;
        overflow: scroll;
    }
}