.information {
    &__container {
        width: 100%;
        display: flex;
    }
    &__img,
    &__description {
        width: 50%;
    }
    &__img {
        padding-right: .5rem;
    }
    &__description {
        padding-left: .5rem;
    }
}

.about__description {
    order: -1;
}