.privacy {
    padding: 1rem;
    & ul {
        padding-left: 1rem;
    }
    & li {
        list-style: square;
    }
    & h1 {
        font-size: var(--font--title);
        text-align: center;
    }
    & h2 {
        font-size: var(--font-size-title-card);
        padding: 1rem 0;
    }
    & h3 {
        font-size: var(--font-size-subtitle);
    }
    & p {
        padding-top: 1rem;
    }
}