meta(property="og:title" content="Alejandro Leyva Consultor" )
meta(property="og:image" content="https://raw.githubusercontent.com/jalmx89/ohm-law-X/master/img_src/lg_A.png")
meta(property="og:url" content="https://www.facebook.com/leyva.consult" )
meta(property="og:site_name" content="Alejandro Leyva Consultor")
meta(property="og:description" content="Consultoria para startups, Negocios y Tecnología" )