meta(property="og:title" content="Alejandro Leyva | Android Developer" )
meta(property="og:image" content="/assets/img/")
meta(property="og:url" content="https://www.alejandro-leyva.com" )
meta(property="og:site_name" content="Alejandro Leyva Profile")
meta(property="og:description" content="Alejandro Leyva desarrollador, diseñador de Software y Handware, Capacitador y Docente")