<!DOCTYPE html>
html(lang="en")
  head
    include body/modules/meta
    link(rel="stylesheet", href="css/style.css")
    title Alejandro Leyva | Perfil - Develop & Design
  body
    main
      block header
      block design
      block blog
      block learning
      block about
      block contact
    block footer
