section.section.about.information
  h2.section__title#about Sobre mí
  .information__container
    .about__img.information__img
      img(src="assets/imgs/me.jpg", alt="Alejandro Leyva recibiendo diploma de capacitador")
    .about__description.information__description
      p Soy ingeniero en electrónica, entusiasta del desarrollo y diseño electrónico; desarrollo de software, especializado en creación de <strong>aplicaciones nativas en Android</strong>. Emprendedor en el ámbito tecnológico, conferencista, docente y capacitador en el rubro digital.
  .btn-container:  a(href="about.html").btn.btn-block Leer más
