section.section.blog
  h2.section__title#blog Blog
  .card-container
    .card
      header.card__header-img
        img(src="assets/imgs/blog.png", alt="blog").card__img
      .card__body
        h2.card__title ¿Cómo comenzar a aprender algo nuevo?
        p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tempora sequi accusantium, reprehenderit corrupti voluptate!
      footer.card__footer
        a(href="#").btn-card.btn leer más
    .card
      header.card__header-img
        img(src="assets/imgs/blog.png", alt="blog").card__img
      .card__body
        h2.card__title ¿Cómo comenzar a aprender algo nuevo?
        p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tempora sequi accusantium, reprehenderit corrupti voluptate!
      footer.card__footer
        a(href="#").btn-card.btn leer más
    .card
      header.card__header-img
        img(src="assets/imgs/blog.png", alt="blog").card__img
      .card__body
        h2.card__title ¿Cómo comenzar a aprender algo nuevo?
        p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis tempora sequi accusantium, reprehenderit corrupti voluptate!
      footer.card__footer
        a(href="#").btn-card.btn leer más
  .btn-container:  a(href="#").btn.btn-block Leer más