section.section.contact
  h2.section__title#contact Contacto
  form.contact__form.form
    .form__data
      .form__inputs
        input(type="text", placeholder="Nombre", name="name").form__input
        input(type="email", placeholder="Correo", name="email").form__input
      .form__messages
        textarea(name="message", cols="20", rows="4", placeholder="Mensaje").form__message
  footer.form__footer
    .btn-container:  a(href="#").btn.btn-block envíar 
    