section.section.design
  h2.section__title#design Diseño & Desarrollo
  .card-container
    .card
      header.card__header
        .card__img: a(href="https://play.google.com/store/apps/dev?id=7182139636058696036&hl=en", target="_blank").img-link
          img(src="/assets/imgs/android.svg", alt="logo android").img-design
        h2.card__title Movíl
      .card__description Desarrollador de aplicaciones móviles en Android
      footer.card__footer
        a(href="https://play.google.com/store/apps/dev?id=7182139636058696036&hl=en", target="_blank").btn-card.btn ver más
    .card
      header.card__header
        .card__img: a(href="https://xizuth.com/", target="_blank").img-link
          img(src="/assets/imgs/js.svg", alt="logo javascript").img-design
        h2.card__title Web, SPA & PWA
      .card__description Desarrollador sitios estáticos y dinámicos, aplicaciones Webs
      footer.card__footer
        a(href="https://xizuth.com/", target="_blank").btn-card.btn ver más
    .card
      header.card__header
        .card__img: a(href="https://xizuth.com/", target="_blank").img-link
          img(src="/assets/imgs/arduino.svg", alt="logo arduino").img-design
        h2.card__title Eléctronica
      .card__description Diseño eléctronico, microcontroladores, Arduino
      footer.card__footer
        a(href="https://xizuth.com/", target="_blank").btn-card.btn.btn ver más
  .btn-container: a(href="https://xizuth.com/", target="_blank").btn.btn-block Ver más