section.section.design
  h2.section__title#design Diseño & Desarrollo
  .card-container
    .card
      header.card__header
        img(src="assets/imgs/android.svg", alt="android").card__img
        h2.card__title Movíl
      .card__description Desarrollador de aplicaciones móviles en Android
      footer.card__footer
        a(href="#").btn-card.btn ver más
    .card
      header.card__header
        img(src="assets/imgs/js.svg", alt="javascript").card__img
        h2.card__title Web, SPA & PWA
      .card__description Desarrollador sitios estáticos y dinámicos, aplicaciones Webs
      footer.card__footer
        a(href="#").btn-card.btn ver más
    .card
      header.card__header
        img(src="assets/imgs/arduino.svg", alt="arduino").card__img
        h2.card__title Eléctronica
      .card__description Diseño eléctronico, microcontroladores, Arduino
      footer.card__footer
        a(href="#").btn-card.btn.btn ver más
  .btn-container: a(href="#").btn.btn-block Ver más