footer.footer
  header.footer__header
    .sitemap
      ul.sitemap__list
        li.sitemap__item: a(href="").sitemap__link Diseñador & Desarrollo
        li.sitemap__item: a(href="").sitemap__link Blog
        li.sitemap__item: a(href="").sitemap__link Capacitación
        li.sitemap__item: a(href="").sitemap__link Sobre mí
        li.sitemap__item: a(href="").sitemap__link Contacto
      p
        a(href="mailto:hola@alejandro-leyva.com") hola@alejandro-leyva.com
    .logo
      img(src="assets/imgs/logo_A.png", alt="").logo__img
    .social-media
      h3.social-media__title Redes sociales
      ul.social-media__list
        li.social-media__item: img(src="assets/imgs/play.svg", alt="google play").social-media__img
        li.social-media__item: img(src="assets/imgs/fb.svg", alt="facebook").social-media__img
        li.social-media__item: img(src="assets/imgs/tw.svg", alt="Tweeter").social-media__img
        li.social-media__item: img(src="assets/imgs/yt.svg", alt="YouTube").social-media__img
        li.social-media__item: img(src="assets/imgs/dribble.svg", alt="Dribble").social-media__img
        li.social-media__item: img(src="assets/imgs/lk.svg", alt="LinkeIn").social-media__img
  .footer__information.information
    ul.information__list
      li.information__item: a(href="#").information__link Sitemap
      li.information__item: a(href="#").information__link Terminos y Condiciones
      li.information__item: a(href="#").information__link Política de privacidad
  .footer__mark
    p#mark &copy Alejandro Leyva 
