extends templates/template
block header
  include templates/body/header
block body
  section.section
    h2.section__title Capacitacion
    .information__container
      .learning__img.information__img
        img(src="assets/imgs/teaching.png", alt="Alejandro Leyva Clase enseñando")
      .learning__description.information__description
        p Amplia experiencia en docencia, en diversos niveles educativos; tanto público como privado. Impartiendo asignaturas de especialidad de carreras como ingeniería de software, sistemas computacionales, estadística administrativa y mecatrónica. Tanto de manera presencial como en línea.
block contact
  include templates/body/contact
block footer
  include templates/body/footer