extends templates/template
block header
  include templates/body/header
block design
  include templates/body/design
block blog
  include templates/body/blog
block learning
  include templates/body/learning
block about
  include templates/body/about
block contact
  include templates/body/contact
block footer
  include templates/body/footer