extends templates/template
block header
  include templates/body/header
block body
  h1 Terms and conditions
  p
    | These terms and conditions ("Terms", "Agreement") are an agreement between Website Operator ("Website Operator", "us", "we" or "our") and you ("User", "you" or "your"). This Agreement sets forth the general terms and conditions of your use of the 
    a(target='_blank', rel='nofollow', href='https://www.alejandro-leyva.com') alejandro-leyva.com
    |  website and any of its products or services (collectively, "Website" or "Services").
  h2 Backups
  p
    | We are not responsible for Content residing on the Website. In no event shall we be held liable for any loss of any Content. It is your sole responsibility to maintain appropriate backup of your Content. Notwithstanding the foregoing, on some occasions and in certain circumstances, with absolutely no obligation, we may be able to restore some or all of your data that has been deleted as of a certain date and time when we may have backed up data for our own purposes. We make no guarantee that the data you need will be available.
  h2 Links to other websites
  p
    | Although this Website may be linked to other websites, we are not, directly or indirectly, implying any approval, association, sponsorship, endorsement, or affiliation with any linked website, unless specifically stated herein. We are not responsible for examining or evaluating, and we do not warrant the offerings of, any businesses or individuals or the content of their websites. We do not assume any responsibility or liability for the actions, products, services, and content of any other third-parties. You should carefully review the legal statements and other conditions of use of any website which you access through a link from this Website. Your linking to any other off-site websites is at your own risk.
  h2 Advertisements
  p
    | During use of the Website, you may enter into correspondence with or participate in promotions of advertisers or sponsors showing their goods or services through the Website. Any such activity, and any terms, conditions, warranties or representations associated with such activity, is solely between you and the applicable third-party. We shall have no liability, obligation or responsibility for any such correspondence, purchase or promotion between you and any such third-party.
  h2 Changes and amendments
  p
    | We reserve the right to modify this Agreement or its policies relating to the Website or Services at any time, effective upon posting of an updated version of this Agreement on the Website. When we do, we will send you an email to notify you. Continued use of the Website after any such changes shall constitute your consent to such changes. Policy was created with 
    a(style='color:#222', target='_blank', title='Create terms and conditions', href='https://www.websitepolicies.com/terms-and-conditions-generator') WebsitePolicies.com
  h2 Acceptance of these terms
  p
    | You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the Website and its Services.
  h2 Contacting us
  p If you have any questions about this Agreement, please contact us.
  p This document was last updated on December 7, 2018
block contact
  include templates/body/contact
block footer
  include templates/body/footer