<!DOCTYPE html>
html(lang="mx")
  head
    include body/modules/meta
    include body/modules/icon
    include body/modules/open
    include body/modules/twetter
    include body/modules/analitycs
    link(rel="stylesheet", href="css/style.css")
    title Alejandro Leyva | Perfil - Develop & Design
  body
    main
      block header
      block body
      block design
      block blog
      block learning
      block about
      block contact
    block footer
    include body/modules/scripts
