<!DOCTYPE html>
html(lang="es")
  head
    include body/modules/analitycs
    include body/modules/ads
    include body/modules/meta
    include body/modules/icon
    include body/modules/open
    link(rel="stylesheet", href="css/style.css")
    title Alejandro Leyva | Perfil - Desarrollador & Diseñador & Docente
  body
    main
      block header
      block body
      block design
      block blog
      block learning
      block about
      block contact
    block footer
    include body/modules/scripts
